<nav
  id="mainHeader"
  dir="{{ direction$ | async }}"
  class="navbar navbar-expand-lg navbar-dark sticky-top wow fadeIn"
>
  <!-- Brand -->
  <a class="navbar-brand py-0" [routerLink]="['/home']">
    <img
      src=".././../../../assets/imgs/logo.svg"
      alt="andalusia_logo"
      class="img-fluid"
    />
  </a>
  <!-- Desktop Menu -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul
      class="navbar-nav d-flex align-items-center"
      [ngClass]="langBtn == 'en' ? 'ml-auto' : 'mr-auto'"
    >
      <!-- Nav Items -->
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link"
          [routerLink]="['/home']"
          [translate]="'HEADER.HOME'"
        ></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          [translate]="'HEADER.ABOUT_US'"
        >
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [translate]="'HEADER.OUR_COM'"></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [translate]="'HEADER.PART'"></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [translate]="'HEADER.STR'"></a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [translate]="'HEADER.BU'"></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [translate]="'HEADER.PROJECTS'"></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [translate]="'HEADER.PARTNER'"></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [translate]="'HEADER.MEDIA'"></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [translate]="'HEADER.CONTACT'"></a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [translate]="'HEADER.CAREER'"></a>
      </li>

      <li
        class="nav-icon"
        routerLinkActive="icon-active"
        (click)="search = !search"
      >
        <a><i class="fas fa-search fa-2x p-2"></i> </a>
      </li>
      <li class="nav-input" routerLinkActive="icon-active" *ngIf="search">
        <input type="search" name="" id="" class="form-control" />
      </li>

      <!-- Language -->
      <li class="language" (click)="changeLang()">
        <img
          src="../../../../assets/imgs/eng.svg"
          alt="english"
          *ngIf="langBtn != 'en'"
        />
        <img
          src="../../../../assets/imgs/ar.png"
          alt="arabic"
          width="42px"
          *ngIf="langBtn == 'en'"
        />
      </li>
    </ul>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
  <!-- Mobile Menu  -->
  <div>
    <!-- Burger Icon -->
    <ng-container *ngIf="navClosed; else navOpened">
      <span (click)="toggleMenu()" class="toggle-btn text-white">
        <i class="fas fa-bars fa-2x"></i>
      </span>
    </ng-container>
    <ng-template #navOpened>
      <span (click)="toggleMenu()" class="toggle-btn text-white">
        <i class="fas fa-times fa-2x"></i>
      </span>
    </ng-template>

    <div class="sidenav-container" #mobileContainer (click)="closeNav()">
      <div #mobileMenu class="sidenav navbar-dark bg-dark" (click)="closeNav()">
        <ul class="responsive-menu mt-2 px-0">
          <!-- Home -->
          <li
            class="responsive-item my-3 d-flex align-items-center justify-content-start"
            routerLinkActive="active"
            [routerLink]="['/home']"
          >
            <i class="fas fa-home mx-3 fa-2x"></i>
            <a
              class="responsive-link d-inline-block"
              [translate]="'HEADER.HOME'"
            ></a>
          </li>
          <!-- About Us -->
          <li
            class="responsive-item my-3 bg-transparent d-flex align-items-center justify-content-start dropdown"
          >
            <i class="fas fa-info-circle mx-3 fa-2x"></i>
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              [translate]="'HEADER.ABOUT_US'"
            >
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                class="dropdown-item"
                href="#"
                [translate]="'HEADER.OUR_COM'"
              ></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" [translate]="'HEADER.PART'"></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" [translate]="'HEADER.STR'"></a>
            </div>
          </li>
          <li
            class="responsive-item my-3 d-flex align-items-center justify-content-start"
            routerLinkActive="active"
          >
            <i class="fas fa-briefcase mx-3 fa-2x"></i>
            <a class="nav-link" [translate]="'HEADER.BU'"></a>
          </li>
          <li
            class="responsive-item my-3 d-flex align-items-center justify-content-start"
            routerLinkActive="active"
          >
            <i class="fas fa-project-diagram mx-3 fa-2x"></i>
            <a class="nav-link" [translate]="'HEADER.PROJECTS'"></a>
          </li>
          <li
            class="responsive-item my-3 d-flex align-items-center justify-content-start"
            routerLinkActive="active"
          >
            <i class="fas fa-handshake mx-3 fa-2x"></i>
            <a class="nav-link" [translate]="'HEADER.PARTNER'"></a>
          </li>
          <li
            class="responsive-item my-3 d-flex align-items-center justify-content-start"
            routerLinkActive="active"
          >
            <i class="fas fa-calendar-week mx-3 fa-2x"></i>
            <a class="nav-link" [translate]="'HEADER.MEDIA'"></a>
          </li>
          <li
            class="responsive-item my-3 d-flex align-items-center justify-content-start"
            routerLinkActive="active"
          >
            <i class="fas fa-envelope mx-3 fa-2x"></i>
            <a class="nav-link" [translate]="'HEADER.CONTACT'"></a>
          </li>
          <li
            class="responsive-item my-3 d-flex align-items-center justify-content-start"
            routerLinkActive="active"
          >
            <i class="fas fa-briefcase mx-3 fa-2x"></i>
            <a class="nav-link" [translate]="'HEADER.CAREER'"></a>
          </li>
          <li>
            <div (click)="changeLang()" class="lang-btn-mob my-3">
              <!-- {{ langBtn === "ع" ? "العربية" : "English" }} -->
              <img
                src="../../../../assets/imgs/eng.svg"
                alt=""
                *ngIf="langBtn != 'en'"
              />
              <img
                src="../../../../assets/imgs/ar.png"
                alt="arabic"
                width="42px"
                *ngIf="langBtn == 'en'"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
