<section dir="{{ direction$ | async }}">
  <!-- Counters -->
  <div class="p-5 mt-5 overview-app">
    <h3
      class="theme-underline-header text-white wow fadeInDown text-center"
      data-wow-delay=".5s"
      [translate]="'OVERVIEW.OVERVIEW'"
    ></h3>
    <div class="row mt-4 text-white" id="overview">
      <!-- Overview -->
      <div class="col-11 m-auto wow fadeInDown" data-wow-delay=".5s">
        <p [translate]="'OVERVIEW.DATA'">
        </p>
      </div>
    </div>
  </div>
</section>
