<section dir="{{ direction$ | async }}">
  <!-- Counters -->
  <div class="p-5 mt-5 overview-app">
    <h3
      class="theme-underline-header text-white wow fadeInDown text-center"
      data-wow-delay=".5s"
      [translate]="''"
    >
      OVERVIEW
    </h3>
    <div class="row mt-4 text-white" id="overview">
      <!-- Overview -->
      <div class="col-11 m-auto wow fadeInDown" data-wow-delay=".5s">
        <p>
          Andalusia is one of the leading regional players in the healthcare
          provision space in the Middle East. With a network of general
          hospitals, specialized medical centers, and polyclinics across Egypt
          and Saudi Arabia, Andalusia has built a unique footprint both in
          service spectrum and geographically. Andalusia Group for Medical
          Services was founded in 1984 by the entrepreneur Dr. Darweesh Zagzoug
          as a single hospital in Jeddah, Saudi Arabia; and grown over 30 years
          to own and manage several healthcare facilities in both Saudi and
          Egypt. The second generation family owner Dr. Hazem Zagzoug, the
          current CEO has made it possible for a renowned financial institution
          like the IFC to join forces to serve more than 7 million patients in
          the last 10 years with amicable quality, and creating 2000 new jobs.
          We are proud of our origin, our progress, as well as our partners.
        </p>
      </div>
    </div>
  </div>
</section>
