// FAQ
#faq {
  #accordionExample {
    .card {
      .btn-link {
        box-shadow: none;
      }

      button {
        transition: 0.5s all ease-in-out;
        font-weight: 600;
        text-decoration: none;
        font-family: sans-serif;

        &:hover,
        &:focus {
          color: $secondary !important;
        }
      }

      i {
        border: 2px solid $primary;
        border-width: 0 3px 3px 0;
        padding: 6px;
        margin-right: 10px;
      }

      .closed {
        transform: rotate(-45deg);
        transition-duration: 0.3s;
      }

      .opened {
        transform: rotate(45deg);
        border-color: $secondary;
        transition-duration: 0.3s;
      }
    }
  }
}