#footer {
  background: #363636;
  z-index: 1020;

  hr {
    border-color: #7e807d;
    opacity: 0.1;
  }

  ul {
    li {
      a,
      svg {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $secondary !important;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 425px) {
    ul {
      text-align: center;
    }
  }
}
.quick-links {
  h4 {
    font-family: $sintony;
  }
  ul {
    li {
      a {
        color: #aeb0ab !important;
        font-family: $myRaid;
      }
    }
  }
}
