#mainHeader {
  // Header Body
  display: flex;
  align-items: center;
  z-index: 1020;

  .lang-btn {
    cursor: pointer;
    color: $white;
    width: 30px;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
  .lang-btn-mob {
    color: $white;
    width: 100%;
    text-align: center;
  }

  h2 {
    font-size: 1.3rem;
  }

  // Navigation Menu
  .nav-item {
    padding: 0.3rem 2rem;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    transform: skewX(-20deg);
    cursor: pointer;

    &:hover {
      background-image: $secondary-gradient-right;

      a {
        color: $darker;
      }
    }

    a {
      color: $white;
      transform: skewX(20deg);
      font-size: 1rem;
      padding: 0;
    }
  }

  // Icons
  .nav-icon {
    position: relative;

    .badge {
      position: absolute;
      left: 60%;
      top: 10%;
      font-size: 0.8rem;
    }

    a {
      color: $white;
      font-size: 1.5rem;
      padding: 0;
      margin: 0 0.4rem;
      cursor: pointer;

      &:hover {
        color: $secondary2;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  // Drop Down List
  .dropdown-menu {
    cursor: pointer;
    left: -50% !important;
  }

  // Active for nav items
  .active {
    a {
      color: $darker;
    }

    background-image: $secondary-gradient-right;
  }

  // Active for icons
  .icon-active {
    a {
      color: $secondary2 !important;
    }
  }

  @media (min-width: 320px) and (max-width: 768px) {
    .navbar-nav {
      padding-top: 2rem;
    }
  }
}

// Responsive Side-bar

.sidenav-container {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  margin-top: 65px;
  z-index: 999999;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;

  .sidenav {
    margin-top: 65px;
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    transform: translateX(-250px);

    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;

      &:hover {
        color: #f1f1f1;
      }
    }

    .closebtn {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 36px;
    }
  }
}

.toggle-btn {
  display: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}

@media (min-width: 992px) {
  .sidenav {
    display: none;
  }
}

@media (max-width: 992px) {
  .toggle-btn {
    display: inline !important;
  }
}

.responsive-menu {
  color: $white;

  list-style: none;

  .responsive-item {
    border-bottom: 0.5px solid $secondary2;
    border-bottom-style: groove;
    padding-left: 60px;

    .fa-user-circle {
      font-size: 46px;
    }

    .responsive-link {
      padding: 15px 0;
      font-size: 16px;
      color: $white;
    }
  }

  .active {
    color: $dark;

    a {
      color: $dark;
    }
  }
}
