.carousel-items {
  margin-top: 45px;
}
.card-news {
  position: relative;
  box-shadow: 0px 2px 5px rgba(174, 174, 174, 0.45);
  button {
    background: #e7643a;
    border: 0;
    outline: 0;
    &:hover {
      background: #b3441f;
      transition: all 0.3s ease-in-out;
    }
  }
}

.owl-prev {
  left: -10%;
}

.owl-dots {
  display: none;
}
