footer {
  background: #363636;
  padding: 35px 88px;
  // h2,
  // h4 {
  //   font-family: $sintony;
  // }

  hr {
    border-color: #7e807d;
    opacity: 0.1;
  }

  ul {
    li {
      a,
      svg {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: $gray !important;
        // font-family: $myRaid;
        &:hover {
          color: $hover !important;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 425px) {
    ul {
      text-align: center;
    }
  }
}
.quick-links {
}
.new-letter {
  .form-group {
    .form-control {
      border-radius: 0;
      padding: 23px 25px;
      font-size: 0.9rem;
    }
    button {
      outline: 0;
      background: #e8663b;
      font-weight: 100;
      font-size: 0.8rem;
      color: $white;
      width: 175.01px;
      height: 49px;
      &:hover {
        background: #b3441f;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  p {
    color: $gray;
  }
}
