<div id="contact" class="my-5 wow fadeIn">
  <div class="container text-white">
    <div class="row align-items-center">
      <!-- Form Start -->
      <div class="col-lg-6 mt-4 mt-lg-0 mb-5 wow fadeInLeft order-1 order-lg-0">
        <form [formGroup]="contactForm">
          <!-- Name -->
          <div class="form-group">
            <input
              type="text"
              class="form-control theme-input"
              id="email"
              aria-describedby="emailHelp"
              placeholder="{{ 'FORM.NAME' | translate }}"
              formControlName="name"
            />
            <!-- Validation Error Message -->
            <div
              class="theme-error wow shake"
              *ngIf="showValidationError(contactForm, 'name')"
            >
              {{ getFormValidationMessage(contactForm, "name") }}
            </div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <input
              type="email"
              class="form-control theme-input"
              id="email"
              aria-describedby="emailHelp"
              placeholder="{{ 'FORM.EMAIL' | translate }}"
              formControlName="email"
            />
            <!-- Validation Error Message -->
            <div
              class="theme-error wow shake"
              *ngIf="showValidationError(contactForm, 'email')"
            >
              {{ getFormValidationMessage(contactForm, "email") }}
            </div>
          </div>

          <!-- Reason -->
          <div class="form-group">
            <select
              class="form-control theme-input"
              id="reason"
              formControlName="reason"
            >
              <option
                class="theme-input text-muted"
                selected
                disabled
                [ngValue]="null"
                [translate]="'FORM.SELECT_REASON'"
              >
                Select Reason
              </option>
              <option class="theme-input">General Question</option>
              <option class="theme-input">Referral Question</option>
              <option class="theme-input">Purchase Question</option>
              <option class="theme-input">Refund Question</option>
            </select>
            <!-- Validation Error Message -->
            <div
              class="theme-error wow shake"
              *ngIf="showValidationError(contactForm, 'reason')"
            >
              {{ getFormValidationMessage(contactForm, "reason") }}
            </div>
          </div>

          <!-- Title -->
          <div class="form-group">
            <input
              type="text"
              class="form-control theme-input"
              id="email"
              aria-describedby="emailHelp"
              placeholder="{{ 'FORM.TITLE' | translate }}"
              formControlName="title"
            />
            <!-- Validation Error Message -->
            <div
              class="theme-error wow shake"
              *ngIf="showValidationError(contactForm, 'title')"
            >
              {{ getFormValidationMessage(contactForm, "title") }}
            </div>
          </div>

          <!-- Text Area -->
          <div class="form-group">
            <textarea
              class="form-control theme-input"
              id="message"
              placeholder="{{ 'FORM.MESSAGE' | translate }}"
              rows="4"
              formControlName="message"
            ></textarea>
            <!-- Validation Error Message -->
            <div
              class="theme-error wow shake"
              *ngIf="showValidationError(contactForm, 'message')"
            >
              {{ getFormValidationMessage(contactForm, "message") }}
            </div>
          </div>
          <button
            class="btn btn-block py-2 px-5 btn-skew-secondary font-weight-bold"
            [translate]="'FORM.SUBMIT'"
          >
            Submit
          </button>
        </form>
      </div>
      <!-- Form End -->

      <!-- Image Start -->
      <div class="col-lg-6 wow fadeInRight order-0 order-lg-1">
        <!-- <div class="img-container"></div> -->
        <ng-lottie width="100%" [options]="options"></ng-lottie>
      </div>
      <!-- Image End -->
    </div>
  </div>
</div>
