.theme-input {
  background-color: $dark;
  color: $white;
  border-radius: 0 !important;
  border: none !important;
}

.theme-error {
  background-color: $danger;
  color: $white;
  padding: 0.3rem 0.8rem;
  margin-top: 0.5rem;
}
.mat-checkbox-inner-container {
  background-color: $white;
}
