.theme-underline-header {
  font-size: calc(100% + 2vw + 1vh);
  color: #101010;
  font-weight: 900;

  &::after {
    content: url("./assets/imgs/line.svg");
    display: block;
    height: 0;
    margin-top: -22px;
  }
}

.theme-header {
  font-size: calc(100% + 2vw + 0vh);
  color: $white;
}
