<div id="about" class="container my-5 wow fadeIn">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
      repellat aut. Nihil ex obcaecati ipsa eaque aut recusandae nulla vero,
      delectus eius dolorem nam vitae ipsam dolor qui earum iure ut voluptas
      odit, dignissimos exercitationem. Veniam delectus aliquid et a soluta at
      aut hic, dolor architecto laboriosam odit quam sunt?
    </div>
  </div>
</div>
