<h2 class="text-white" mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content>
  <p class="text-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis
    laboriosam natus neque saepe sunt? Eveniet labore modi molestiae fugiat
    ipsum inventore sit ut eos ducimus perferendis reiciendis, voluptate totam
    tempore fuga numquam quo nesciunt vero praesentium quis? Odio qui vitae
    obcaecati iusto ab sapiente vero, repellat aut, pariatur officiis magni
    illum molestiae officia optio ad atque! Quae ab quod blanditiis aspernatur,
    nam fuga atque aut architecto ratione explicabo et repudiandae vero
    provident inventore itaque at eos ea recusandae id quia possimus. Ipsum,
    numquam adipisci! Non iusto optio eaque quaerat harum amet aspernatur
    recusandae assumenda, esse maxime voluptatem minima distinctio libero
    dolorum vel odit temporibus nihil soluta fugit nisi eum? Velit dignissimos,
    doloribus temporibus molestias laboriosam ratione? Suscipit iusto pariatur
    optio distinctio ducimus iure iste impedit aperiam, omnis ipsa animi natus
    quae culpa assumenda repellat atque totam porro, eligendi sapiente nisi
    maxime laudantium nostrum quibusdam. Esse dolorum provident accusamus odio
    architecto, facere exercitationem, placeat soluta voluptas, illo unde!
    Quaerat deleniti odit velit non ad cumque provident, adipisci amet sed
    reprehenderit optio mollitia nemo numquam quasi suscipit, quae cupiditate.
    Maxime aliquid sunt distinctio iste dolores ad corrupti laborum molestias
    cum perferendis repudiandae, rerum eligendi voluptatibus, nisi commodi ipsa.
    Ipsa, quaerat eum? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Optio consequuntur ratione nam perspiciatis qui! Repudiandae itaque harum
    labore possimus quod ut, ex necessitatibus vel delectus reiciendis alias
    assumenda quas rem exercitationem atque dicta distinctio? Maxime officiis
    nulla quam, quas dolorum cumque expedita iure saepe laborum beatae eaque
    eligendi fuga at vero! Neque quod sit sed ullam voluptates nostrum eum sint
    ducimus quis soluta hic similique nemo error, obcaecati voluptatibus
    dignissimos consequatur consectetur libero facilis dolorem. Ipsam
    consequuntur minus iure tempore corporis similique eligendi odit alias
    asperiores iste debitis esse, deleniti error unde doloribus excepturi velit
    laborum quisquam sapiente molestiae corrupti a optio? Consequatur dolorem
    obcaecati odio consectetur laboriosam, perferendis ex? Sapiente,
    voluptatibus animi cupiditate esse doloremque necessitatibus nobis tempora.
    Qui libero obcaecati, voluptatibus modi, magnam dolore repellendus odio
    voluptates, aperiam magni cum sed corrupti perspiciatis! Dolorem cumque,
    nisi maiores placeat ea numquam? Ea aut dicta, minima exercitationem ipsam
    beatae consectetur obcaecati quia ut odit tempora ad qui dolores blanditiis
    necessitatibus fuga cupiditate tempore rerum modi! Unde libero ut
    reiciendis, architecto culpa laudantium. Beatae ipsa maiores possimus
    laboriosam magnam doloribus iure doloremque ducimus. Architecto dolor
    expedita odit excepturi? Ab consequuntur, necessitatibus architecto, eius
    saepe deserunt illo exercitationem, dolore ducimus officiis sint?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary mr-2" mat-dialog-close>Close</button>
</mat-dialog-actions>
