<div
  id="footer"
  class="container-fluid p-4 bg-dark text-white"
  dir="{{ direction$ | async }}"
>
  <ul
    class="list-unstyled m-0 row w-100 align-items-top justify-content-between"
  >
    <li class="text-white col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <img src="assets/imgs/logo150.png" class="img-fluid" alt="Logo Image" />
      <p class="text-primary" [translate]="'FOOTER.ABOUT'">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
        molestiae aut dolores? Illo rerum, doloremque adipisci ut, rem vel
        tempora porro quisquam sapiente dignissimos sed animi laudantium
        incidunt distinctio. In.
      </p>
    </li>
    <li class="text-white col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-4 mt-md-0">
      <h4 [translate]="'FOOTER.QUICK_LINKS'">Quick Links</h4>
      <ul class="list-unstyled px-0">
        <li class="my-3">
          <a
            class="text-primary"
            [translate]="'FOOTER.CONTACT_US'"
            [routerLink]="['/pages/contact']"
            >Contact us</a
          >
        </li>
        <li class="my-3">
          <a
            class="text-primary"
            [translate]="'FOOTER.ABOUT_US'"
            [routerLink]="['/pages/about']"
            >About us</a
          >
        </li>
        <li class="my-3">
          <a
            class="text-primary"
            [translate]="'FOOTER.FAQS'"
            [routerLink]="['/pages/faq']"
            >FAQs</a
          >
        </li>
      </ul>
      <hr class="d-inline-block w-50" />
      <h4 [translate]="'FOOTER.FOLLOW_US'" class="mb-3">Follow us</h4>
      <i class="fab fa-facebook fa-2x text-primary mx-1"></i>
      <i class="fab fa-youtube fa-2x text-primary mx-1"></i>
    </li>
    <li class="text-white col-lg-3 col-md-3 col-sm-4 col-xs-12 mt-4 mt-md-0">
      <h4 [translate]="'FOOTER.ACCEPT'" class="mb-3">We Accept</h4>
      <i class="fab fa-cc-visa fa-4x text-primary mx-1"></i>
      <i class="fab fa-cc-mastercard fa-4x text-primary mx-1"></i>
    </li>
  </ul>
</div>
<div class="bg-darker w-100 text-center py-3">
  <p class="text-secondary m-0" [translate]="'FOOTER.COPY_RIGHTS'">
    All Rights are Resevied &copy; 2020
  </p>
</div>
