<section class="text-center" dir="{{ direction$ | async }}">
  <!-- Counters -->
  <div class="p-5 counters text-center">
    <h3
      class="theme-underline-header text-white text-center wow fadeInDown"
      data-wow-delay=".5s"
      [translate]="'STATISTICS.STATISTICS'"
    ></h3>
    <div class="row mt-4 text-white" id="counter">
      <!-- Sites -->
      <div class="col-md-3 wow fadeInDown" data-wow-delay=".5s">
        <div class="container-icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <p class="counter-value mt-2 text-white" data-count="126">0</p>
        <h5
          class="text-white font-weight-normal"
          [translate]="'STATISTICS.SITES'"
        >
          Sites
        </h5>
      </div>
      <!-- Qualified Staff -->
      <div
        class="col-md-3 mt-lg-0 mt-md-0 mt-4 wow fadeInDown"
        data-wow-delay=".5s"
      >
        <div class="container-icon">
          <i class="fas fa-user-friends"></i>
        </div>
        <p class="counter-value mt-2 text-white" data-count="61473">0</p>
        <h5
          class="text-white font-weight-normal"
          [translate]="'STATISTICS.STAFF'"
        >
          Qualified Staff
        </h5>
      </div>
      <!-- Machienes -->
      <div
        class="col-md-3 mt-lg-0 mt-md-0 mt-4 wow fadeInDown"
        data-wow-delay=".5s"
      >
        <div class="container-icon">
          <i class="fas fa-cog"></i>
        </div>
        <p
          class="counter-value mt-2 text-white font-weight-bolder"
          data-count="5140"
        >
          0
        </p>
        <h5
          class="text-white font-weight-normal"
          [translate]="'STATISTICS.MACHIENES'"
        >
          Machienes
        </h5>
      </div>
      <!-- Clients Serviced -->
      <div
        class="col-md-3 mt-lg-0 mt-md-0 mt-4 wow fadeInDown"
        data-wow-delay=".5s"
      >
        <div class="container-icon">
          <i class="fas fa-walking"></i>
        </div>
        <p
          class="counter-value mt-2 text-white font-weight-bolder"
          data-count="321570"
        >
          0
        </p>
        <h5
          class="text-white font-weight-normal"
          [translate]="'STATISTICS.CLIENTS'"
        >
          Clients Serviced
        </h5>
      </div>
    </div>
  </div>
</section>
