<div id="cart" class="container" dir="{{ direction$ | async }}">
  <ng-container *ngIf="(products$ | async).length > 0; else elseTemplate">
    <!-- wow fadeInRight -->
    <div class="row my-5">
      <div class="col-lg-8 mb-3">
        <!-- Card -->
        <div
          class="card bg-dark mb-3"
          *ngFor="let product of products$ | async"
        >
          <div class="card-body">
            <div class="container">
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-3">
                  <img
                    class="img-fluid mb-3"
                    src="https://dummyimage.com/250/575757/fff"
                    alt="Product Image"
                  />
                </div>
                <!-- Product Description -->
                <div class="col-lg-5">
                  <div class="font-english">
                    <h5 class="card-title text-secondary2">
                      {{ product.title }}
                    </h5>
                    <p class="card-text text-primary">
                      Lorem ipsum dolor sit, amet consectetur adipisicing.
                    </p>
                    <h2 class="d-inline-block text-white mb-4 mx-trans-2">
                      ${{ product.finalPrice }}
                    </h2>
                    <!-- If Has Discount -->
                    <h3
                      class="d-inline-block text-danger"
                      *ngIf="product.discount"
                    >
                      <del>{{ product.price | number }}$</del>
                    </h3>
                  </div>
                </div>
                <!-- Product Quantity -->
                <div class="col-lg-4">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <button
                      class="quantity btn btn-primary d-block px-4 font-english"
                      (click)="addToCart(product)"
                    >
                      +
                    </button>
                    <div class="mx-2">
                      <input
                        type="number"
                        class="form-control text-center p-4"
                        [value]="product.quantity"
                      />
                    </div>
                    <button
                      class="quantity btn btn-warning d-block px-4 font-english"
                      (click)="removeFromCart(product)"
                    >
                      -
                    </button>
                  </div>
                  <div class="delete-btn">
                    <button
                      class="btn btn-danger btn-block"
                      (click)="deleteProduct(product)"
                      [translate]="'CART.REMOVE'"
                    >
                      Remove
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Order Details -->
      <div class="col-lg-4">
        <div class="order-details card bg-dark text-white">
          <div class="card-body">
            <h3 class="card-title" [translate]="'CART.ORDER_DETAILS'">
              Order Details
            </h3>
            <div
              class="row border-bottom py-4"
              *ngFor="let product of products$ | async"
            >
              <!-- Sinlge Product Details -->
              <div class="col-12">
                <div class="d-flex justify-content-between">
                  <p [translate]="'CART.PRODUCT_NAME'">Product Name:</p>
                  <p class="text-secondary">{{ product.title }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p [translate]="'CART.PRODUCT_QUANTITY'">Product Quantity:</p>
                  <p class="text-secondary">{{ product.quantity }}</p>
                </div>
                <div
                  class="d-flex justify-content-between"
                  *ngIf="product.discount"
                >
                  <p [translate]="'CART.DISCOUNT'">Discount:</p>
                  <p class="text-secondary">{{ product.discount }}%</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p [translate]="'CART.PRODUCT_PRICE'">Product Price:</p>
                  <p class="text-secondary">
                    $ {{ product.finalPrice | number }}
                  </p>
                </div>
                <div class="d-flex justify-content-between">
                  <p [translate]="'CART.TOTAL_PRODUCT_PRICE'">
                    Total Products Price:
                  </p>
                  <p class="text-secondary">
                    $ {{ product.totalProductsPrice | number }}
                  </p>
                </div>
              </div>
              <hr class="text-white" />
            </div>
            <!-- Total Amount -->
            <div class="d-flex justify-content-between pt-4">
              <p [translate]="'CART.TOTAL_AMOUNT'">Total Amount</p>
              <p class="text-secondary">$ {{ orderTotalAmount$ | async }}</p>
            </div>
          </div>

          <!-- Appy Coupone Form -->
          <div class="coupon px-3">
            <form [formGroup]="couponForm">
              <div class="form-group">
                <label for="coupon" [translate]="'CART.HAVE_COUPON'"
                  >Do you have a Coupon?</label
                >
                <input
                  type="text"
                  id="coupon"
                  class="form-control"
                  formControlName="coupon"
                  placeholder="{{ 'CART.APPLY_COUPON' | translate }}
                "
                />
                <!-- Frontend Validation -->
                <div
                  class="theme-error wow shake"
                  *ngIf="showValidationError(couponForm, 'coupon')"
                >
                  {{ getFormValidationMessage(couponForm, "coupon") }}
                </div>
                <!-- Backend Validation -->
                <div
                  class="theme-error wow shake"
                  *ngIf="
                    (serverErrors$ | async)?.coupon &&
                    (serverErrors$ | async) as serverErrors
                  "
                >
                  {{ serverErrors["coupon"] }}
                </div>
              </div>
            </form>
          </div>
          <div class="btn-container p-2">
            <button
              class="btn btn-primary btn-block btn-lg text-dark"
              (click)="placeOrder()"
              [translate]="'CART.PLACE_ORDER'"
            >
              Place Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="icon-container wow shake">
      <i class="d-block fas fa-cart-arrow-down text-white mb-5 5x"></i>
      <h1 class="mb-5 text-white" [translate]="'CART.EMPTY'">
        Your Cart is Empty
      </h1>
      <button
        class="btn btn-block btn-primary"
        [routerLink]="['/home']"
        [translate]="'CART.BACK'"
      >
        Back
      </button>
    </div>
  </ng-template>
</div>
