<!-- <div class="counterContainer">
  <span>{{ countFrom }}</span>
</div> -->

<div #counterContainer>
  <span>{{ countFrom }}</span>
</div>

<!-- <div id="counterContainer">
  <span
    class="ml-5 counter text-white"
    data-countTo="5000"
    data-countFrom="0"
    data-countSpeed="1000"
    data-countDely="5000"
    ScrollCountTo
    >1</span
  >
  <span
    class="ml-5 counter text-white"
    data-countTo="9000"
    data-countFrom="0"
    data-countSpeed="200"
    data-countDely="500"
    ScrollCountTo
    >1</span
  >
  <span
    class="ml-5 counter text-white"
    data-countTo="7000"
    data-countFrom="90"
    data-countSpeed="1000"
    data-countDely="0"
    ScrollCountTo
    >1</span
  >
  <span
    class="ml-5 counter text-white"
    data-countTo="50"
    data-countFrom="0"
    data-countSpeed="9000"
    data-countDely="10000"
    ScrollCountTo
    >1</span
  >
</div> -->
