<div id="carousel">
  <carousel [isAnimated]="true">
    <slide>
      <div class="slide slide1 text-white">
        <div class="text wow fadeInLef row w-100" data-wow-delay=".5s">
          <div class="col-md-6">
            <h2 class="mb-4 font-weight-normal">
              We are growing fast do you see.
            </h2>
            <p>
              Preserved defective offending he daughters on or. Rejoiced
              prospect yet material servants out answered men admitted.
              Sportsmen certainty prevailed suspected am as. Add stairs admire
              all answer the nearer yet length.
            </p>
            <button class="btn mt-3">
              <span class="mx-trans-2 text-white">Learn more</span>
            </button>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="slide slide1 text-white">
        <div class="text mx-lg-4 wow fadeInLef row w-100" data-wow-delay=".5s">
          <div class="col-md-6">
            <h2 class="mb-4 font-weight-normal">
              We are growing fast do you see.
            </h2>
            <p>
              Preserved defective offending he daughters on or. Rejoiced
              prospect yet material servants out answered men admitted.
              Sportsmen certainty prevailed suspected am as. Add stairs admire
              all answer the nearer yet length.
            </p>
            <button class="btn mt-3">
              <span class="mx-trans-2 text-white">Learn more</span>
            </button>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </slide>
    <slide>
      <div class="slide slide1 text-white">
        <div class="text wow fadeInLef row w-100" data-wow-delay=".5s">
          <div class="col-md-6">
            <h2 class="mb-4 font-weight-normal">
              We are growing fast do you see.
            </h2>
            <p>
              Preserved defective offending he daughters on or. Rejoiced
              prospect yet material servants out answered men admitted.
              Sportsmen certainty prevailed suspected am as. Add stairs admire
              all answer the nearer yet length.
            </p>
            <button class="btn mt-3">
              <span class="mx-trans-2 text-white">Learn more</span>
            </button>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </slide>
  </carousel>
</div>
