<section id="carousel">
  <carousel [isAnimated]="true">
    <slide *ngFor="let i of [1, 2, 3]">
      <div class="slide slide1 text-white">
        <div class="text wow fadeInLeft row w-100" data-wow-delay=".5s">
          <div class="col-md-6">
            <h2
              class="mb-4 font-weight-normal"
              [translate]="'CAROUSAL.TITLE'"
            ></h2>
            <p [translate]="'CAROUSAL.DATA'"></p>
            <button class="btn mt-3">
              <span
                class="mx-trans-2 carousel-btn text-white"
                [translate]="'CAROUSAL.LEARN_MORE'"
              ></span>
            </button>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </slide>
  </carousel>
</section>
