<div id="download-app" class="container" dir="{{ direction$ | async }}">
  <div class="row align-items-center">
    <div class="text col-lg-6 wow fadeInLeft mt-4 mt-lg-0" data-wow-delay=".5s">
      <h2 class="text-white mb-3" [translate]="'DOWNLOADAPP.DOWNLOADAPP'">
        Download App
      </h2>
      <p class="text-primary mb-5" [translate]="'DOWNLOADAPP.DOWNLOAD_DETAILS'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis itaque,
        harum in totam porro et.
      </p>
      <button
        style="animation-duration: 7s"
        class="btn btn-lg-lg btn-sm-sm btn-skew-secondary w-75 py-4 font-weight-bold mt-3 animate__animated animate__swing animate__delay-2s animate__infinite"
        (click)="downloadAPK()"
        [translate]="'DOWNLOADAPP.DOWNLOADNOW'"
      >
        <span class="mx-trans-2" [translate]="'DOWNLOADAPP.DOWNLOADNOW'">
          Download Now</span
        >
        <img
          src="assets/imgs/android-logo.svg"
          alt="Android Logo"
          width="11%"
        />
      </button>
    </div>
    <div class="col-lg-6 wow zoomIn">
      <div class="text-center wow fadeInRight" data-wow-delay="1s">
        <img
          src="assets//imgs/Screens.png"
          alt="Mobile Apps"
          class="img-container w-100"
        />
      </div>
    </div>
  </div>
</div>
